/* .home {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: green;
  padding: 25px;
  margin: 25px;
} */

.home {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.home-box {
  display: grid;
  place-items: center;
  text-align: center;
  flex: 1 1 100px;
  margin: 5px;
  background-color: #1888ff;
  font-size: xx-large;
}

.home-tmdb {
  display: grid;
  place-items: center;
  height: 300px;
  width: 300px;
}

.home-header {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color: whitesmoke;
}

.loading {
  display: grid;
  place-items: center;
  color: white;
}

.search {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 25px;
  border-radius: 15px;
  border: green;
}

.search-text {
  padding: 150px;
}

:root {
  --primary: #1888ff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid var(--primary);
}

.display {
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.container {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.load-btn-row {
  display: grid;
  place-items: center;
  text-align: center;
  align-self: center;
  background-color: linear-gradient(
    90deg,
    rgb(28, 27, 27) 0%,
    rgb(26, 23, 23) 100%
  );
}

.load-btn {
  display: grid;
  place-items: center;
  text-align: center;
  align-self: center;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #1888ff;
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  color: white;
}

.minicard {
  background-color: red;
  display: grid;
  place-items: center;
  text-align: center;
}

.minicard-btn {
  display: grid;
  place-items: center;
  text-align: center;
  /* padding: 8px 20px; */
  font-size: 1.2rem;
  width: 100%;
  /* border-radius: 4px; */
  color: #1888ff;
}
