.loading {
  display: grid;
  place-items: center;
}

.cardBackground {
  background-color: black;
}

.card {
  text-align: center;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  /* background-color: green; */
}

.card-item {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card h1 {
  text-align: center;
}

.cast-card {
  margin: 5px;
  width: 300px;

  /* padding: 5px; */
}

.item-display {
  display: grid;
  place-items: center;
}

.stats-display {
  margin: 5px;
}
