* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  /* color: #333; */
  /* background-color: #d5d5d1; */
}

/* .content {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
} */
